@model Dierentuin.Models.Enclosure

@{
    ViewData["Title"] = "Edit";
}

<h1>Edit</h1>

<h4>Enclosure</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="Edit">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <input type="hidden" asp-for="Id" />
            <div class="form-group">
                <label asp-for="Name" class="control-label"></label>
                <input asp-for="Name" class="form-control" />
                <span asp-validation-for="Name" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Climate" class="control-label"></label>
                @Html.DropDownList("Climate", Html.GetEnumSelectList(typeof(Enclosure.ClimateType)), new { @class = "form-control" })
                <span asp-validation-for="Climate" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Habitat" class="control-label"></label>
                @Html.DropDownList("Habitat", Html.GetEnumSelectList(typeof(Enclosure.HabitatType)), new { @class = "form-control" })
                <span asp-validation-for="Habitat" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="SecurityLevel" class="control-label"></label>
                @Html.DropDownList("SecurityLevel", Html.GetEnumSelectList(typeof(Enclosure.SecurityLevelType)), new { @class = "form-control" })
                <span asp-validation-for="SecurityLevel" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Size" class="control-label"></label>
                <input asp-for="Size" class="form-control" />
                <span asp-validation-for="Size" class="text-danger"></span>
            </div>
             <div class="form-group">
                <label asp-for="Animals" class="control-label">Animals - Select multiple by holding ctrl</label>
                <select id="animals" name="animals" asp-items="ViewBag.animalsList" multiple class="form-select" aria-label="multiple select example" id="Animals"></select>
            </div>
            <div class="form-group">
                <input type="submit" value="Save" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-action="Index">Back to List</a>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
