@model Dierentuin.Models.Animal

@{
    ViewData["Title"] = "Edit";
}

<h1>Edit</h1>

<h4>Animal</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="Edit">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <input type="hidden" asp-for="Id" />
            <div class="form-group">
                <label asp-for="Name" class="control-label"></label>
                <input asp-for="Name" class="form-control" />
                <span asp-validation-for="Name" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Species" class="control-label"></label>
                <input asp-for="Species" class="form-control" />
                <span asp-validation-for="Species" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Size" class="control-label"></label>
                @Html.DropDownList("Size", Html.GetEnumSelectList(typeof(Animal.SizeType)), new { @class = "form-control" })
                <span asp-validation-for="Size" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Dietary" class="control-label"></label>
                @Html.DropDownList("Dietary", Html.GetEnumSelectList(typeof(Animal.DietaryClassType)), new { @class = "form-control" })
                <span asp-validation-for="Dietary" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="ActivityPattern" class="control-label"></label>
                @Html.DropDownList("ActivityPattern", Html.GetEnumSelectList(typeof(Animal.ActivityPatternType)), new { @class = "form-control" })
                <span asp-validation-for="ActivityPattern" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Prey" class="control-label"></label>
                <select asp-for="Prey" class="form-control" asp-items="ViewBag.CategoryId">
                    <option value="" selected>No prey</option>
                </select>
                <span asp-validation-for="Prey" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="SpaceRequirement" class="control-label"></label>
                <input asp-for="SpaceRequirement" class="form-control" />
                <span asp-validation-for="SpaceRequirement" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="SecurityRequirement" class="control-label"></label>
                @Html.DropDownList("SecurityRequirement", Html.GetEnumSelectList(typeof(Enclosure.SecurityLevelType)), new { @class = "form-control" })
                <span asp-validation-for="SecurityRequirement" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="CategoryId" class="control-label"></label>
                <select asp-for="CategoryId" class="form-control" asp-items="ViewBag.CategoryId">
                    <option value="" selected>No category</option>
                </select>
                <span asp-validation-for="CategoryId" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="EnclosureId" class="control-label"></label>
                <select asp-for="EnclosureId" class="form-control" asp-items="ViewBag.EnclosureId">
                    <option value="" selected>No enclosure</option>
                </select>
                <span asp-validation-for="EnclosureId" class="text-danger"></span>
            </div>
            <div class="form-group">
                <input type="submit" value="Save" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-action="Index">Back to List</a>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
