name: Deploy
on:
  workflow_dispatch:
  push: # Run on push or merge of pull request to main branch
    branches: [ main ]

jobs:
  deploy_dierentuin:
    name: Deploy dierentuin app to Kubernetes
    runs-on: [self-hosted, Linux, ARM64]
    steps:
      - name: Checkout source code
        uses: actions/checkout@v3

      - name: Set up kubectl
        uses: azure/setup-kubectl@v3

      - name: Set Kubernetes context
        uses: azure/k8s-set-context@v1
        with:
          method: kubeconfig
          kubeconfig: ${{ secrets.KUBECONFIG_CONTENTS }}

      - name: Deploy to the Kubernetes cluster
        uses: azure/k8s-deploy@v1
        with:
          namespace: group12
          manifests: |
            .kube/deployment.yaml
            .kube/ingress.yaml
            .kube/service.yaml
          tags: 
          images: |
            ${{ secrets.DOCKERHUB_USERNAME }}/dierentuingroup12:latest
      
      - name: Restart the pods
        run: kubectl rollout restart deployment group12 -n group12

  deploy_prometheus:
    name: Deploy Prometheus to Kubernetes
    runs-on: [self-hosted, Linux, ARM64]
    steps:
      - name: Set up kubectl
        uses: azure/setup-kubectl@v3

      - name: Set Kubernetes context
        uses: azure/k8s-set-context@v1
        with:
          method: kubeconfig
          kubeconfig: ${{ secrets.KUBECONFIG_CONTENTS }}

      - name: Deploy to the Kubernetes cluster
        uses: azure/k8s-deploy@v1
        with:
          namespace: group12
          manifests: |
            .kube/prometheus-config.yaml
            .kube/prometheus-ingress.yaml
            .kube/prometheus-deployment.yaml
            .kube/prometheus-service.yaml
          tags: 
          images: |
            prom/prometheus:latest

  deploy_grafana:
    name: Deploy Prometheus to Kubernetes
    runs-on: [self-hosted, Linux, ARM64]
    steps:
      - name: Set up kubectl
        uses: azure/setup-kubectl@v3

      - name: Set Kubernetes context
        uses: azure/k8s-set-context@v1
        with:
          method: kubeconfig
          kubeconfig: ${{ secrets.KUBECONFIG_CONTENTS }}

      - name: Deploy to the Kubernetes cluster
        uses: azure/k8s-deploy@v1
        with:
          namespace: group12
          manifests: |
            .grafana/grafana.yaml
            .grafana/grafana-ingress.yaml
            .grafana/grafana-config.yaml
          tags: 
          images: |
            grafana/grafana:latest

  post_deployment_verification:
    runs-on: [self-hosted, Linux, ARM64]
    needs: [ deploy_dierentuin, deploy_prometheus, deploy_grafana]

    steps:
      - name: Perform smoke tests
        run: |
          curl https://12.web.dops.tech/