name: CI - .NET
on:
  workflow_dispatch:
  push:
    branches: [ main ]

jobs:
  # test:
  #   name: Test

  build:
    runs-on: ubuntu-latest

    steps:
    - name: Checkout code
      uses: actions/checkout@v2

    - name: Set up Docker Buildx
      uses: docker/setup-buildx-action@v3

    - name: Login to DockerHub
      uses: docker/login-action@v1
      with:
        username: ${{ secrets.DOCKERHUB_USERNAME }}
        password: ${{ secrets.DOCKERHUB_TOKEN }}

    - name: Build and push
      id: docker_build
      uses: docker/build-push-action@v2
      with:
        context: .
        file: ./Dockerfile
        push: true
        platforms: "linux/arm64,linux/amd64"
        build-args: |
          APP_VERSION=1.0.1
        tags: |
          ljmagalaes/dierentuingroup12:latest

  deploy:
    name: Deploy
    # needs: [ test, build ]
    needs: [ build ]
    runs-on: ubuntu-latest
    steps:
      - name: Checkout source code
        uses: actions/checkout@v3

      - name: Set up kubectl
        uses: azure/setup-kubectl@v1

      - name: Set Kubernetes context
        uses: azure/k8s-set-context@v1
        with:
          method: kubeconfig
          kubeconfig: .kube/kubeconfig_group12.yaml
          context: group12-context  # Specify your cluster context name here

      - name: Deploy to the Kubernetes cluster
        uses: azure/k8s-deploy@v1
        with:
          namespace: group12
          manifests: |
            .kube/deployment.yaml
            .kube/ingress.yaml
            .kube/service.yaml
          images: |
            ljmagalaes/dierentuingroup12:latest
